{% extends 'base.html' %}
{% block container %}
    <div class="container">
        <h1 class="text-center cursiv-title">Register Party</h1>
        <form id="PartyForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Customer Details -->
            <div class="row">
                <div class="mb-3 col-lg-4">
                    <label for="customerName">Customer Name</label>
                    <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Customer Name" required>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="customerEmail">Customer Email</label>
                    <input type="email" class="form-control" id="customerEmail" name="customerEmail" placeholder="Customer Email" required>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="pinCode">Customer Pincode</label>
                    <input type="number" class="form-control" id="pinCode" name="pinCode" placeholder="Customer pinCode" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label for="customerContact">Customer Contact Number</label>
                    <input type="tel" class="form-control" id="customerPhone" name="customerPhone" placeholder="Customer Contact" required>
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="customerName">Customer Complete Address</label>
                    <textarea class="form-control" id="customerAddress" name="customerAddress" placeholder="Customer Address" required></textarea>
                </div>

            </div>





            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <!-- Item Details -->
            <div class="item-details">

            </div>
        </form>
    </div>
{% endblock %}
    <!-- Include Bootstrap JS and jQuery -->
{% block js %}

{% endblock js %}
