{% extends 'base.html' %}
{% block container %}
<div class="container">
    <h1 class="text-center cursiv-title">Register Product</h1>
    <form id="productForm" method="post">{% csrf_token %}
        <div class="row">
            <div class="mb-3 form-group col-lg-4">
                <label for="productName">Product Name:</label>
                <input class="form-control" id="productName" name="productName" placeholder="Enter product name"
                       type="text" style="text-transform: uppercase;" required>
            </div>
            <div class="mb-3 form-group col-lg-4">
                <label for="productCode">Product Code:</label>
                <input class="form-control" id="productCode" name="productCode" placeholder="Enter product code"
                       type="text" style="text-transform: uppercase;">
            </div>

            <div class="mb-3 form-group col-lg-4">
                <label for="productCategory">Product Category:</label>
                <select class="form-control" id="productCategory" name="productCategory" required>
                    {% for category in category %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="productDescription">Product Description:</label>
            <textarea class="form-control" id="productDescription" name="productDescription"
                      placeholder="Enter product description"
                      rows="3"></textarea>
        </div>

        <div class="row">
            <div class="mb-3 form-group col-lg-4">
                <label for="purchasePrice">Purchase Price:</label>
                <input class="form-control" id="purchasePrice" name="purchasePrice" placeholder="Enter Purchase price"
                       type="number" required>
            </div>
            <div class="mb-3 form-group col-lg-4">
                <label for="salePrice">Sale Price:</label>
                <input class="form-control" id="salePrice" name="salePrice" placeholder="Enter sale price"
                       type="number" required>
            </div>
            <div class="mb-3 form-group col-lg-4">
                <label for="OpenStock">Open Stock:</label>
                <input class="form-control" id="OpenStock" name="OpenStock" placeholder="Enter open stock"
                       type="number" required>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary w-25" type="submit">Submit</button>
        </div>

    </form>
</div>
{% endblock %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

<script>

    $(document).ready(function() {
        $('#productForm').submit(function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Serialize the form data
            var formData = $(this).serialize();

            // Make the POST request using Ajax
            $.ajax({
                url: '/product/add-product/',
                type: 'POST',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') // Extract CSRF token from meta tag
                },
                data: formData,
                success: function(response) {
                    console.log(response);
                    setTimeout(function() {
                        Swal.fire({
                            icon: 'success',
                            title: response.msg,
                            text: 'You have been registered successfully.',
                            confirmButtonText: 'OK'

                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Reload the page
                                location.reload();
                            }
                        });
                    }, 500); // Simulate a delay of 0.5 second
                },
                error: function(xhr, status, error) {
                    // Request failed, handle the error here
                    console.error('Request failed with status:', status);
                }
            });
        });
    });

</script>
{% endblock js %}
