<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Billing Form</title>
</head>

<body>
  <div class="container">
    <h2>Billing Form</h2>
    <form method="post">{% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="party">Select Party:</label>
          <select id="party" name="party" class="form-control">
            <option>Choose any one</option>
            {% for party in party %}
            <option value="{{party.id}}">{{party.customer_name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
        </div>
      </div>
      <!-- product details ------------------------------ -->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="product">Search Prodcut:</label>
          <input type="text" class="form-control" id="product" name="product" value="" placeholder="Search Prodcut">
          <input type="hidden" class="form-control" id="product_id" name="product_id" value="">
        </div>
        <div class="form-group col-md-4">
          <label for="sale_qty">Sale Product Qty:</label>
          <input type="number" class="form-control" id="sale_qty" name="sale_qty" value="0">
        </div>
        <div class="form-group col-md-4">
          <label for="qty">Present Product Qty:</label>
          <input type="text" class="form-control" id="qty" name="qty" value="0" readonly>
        </div>
      </div>
      <!-- end product details ------------------------------ -->

      <!-- price details ------------------------------ -->
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="basePrice">BasePrice:</label>
          <input type="text" class="form-control" id="basePrice" name="basePrice" value="0" readonly>
        </div>
        <div class="form-group col-md-2">
          <label for="discountPrice">Discount Price:</label>
          <input type="text" class="form-control" id="discountPrice" name="discountPrice" value="0">
        </div>
        <div class="form-group col-md-8">
          <label for="totalPrice">Total Price:</label>
          <div class="d-flex">
            <div>
              <span>
                <span class="btn btn-secondary">price:</span>
                <span id="span_price" class="btn btn-outline-secondary">0</span>
                *
                <span class="btn btn-secondary">qty:</span>
                <span id="span_qty" class="btn btn-outline-secondary">0</span>
              </span>
            </div>&nbsp;
            <div>
              <input type="text" class="form-control" id="totalPrice" name="totalPrice" value="0">
            </div>
          </div>


        </div>
      </div>
      <!-- end price details ------------------------------ -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#product').on('keyup', function (e) {
        var code = $(this).val()
        $.ajax({
          url: '/product/search-product/',
          type: 'Get',
          data: { 'code': code },
          success: function (result) {
            if (result.length > 0) {
              var pro_id = result.product['p_id']
              var qty = result.product['p_qty']
              var basePrice = result.product['p_sale_price']

              $('#product_id').val(pro_id)
              $('#qty').val(qty)
              $('#basePrice').val(basePrice)

            } else {

              $('#product_id').val('')
              $('#qty').val(0)
              $('#basePrice').val(0)
              $('#totalPrice').val(0)

            }

            // console.log(result.product['p_name'],result.product['p_qty'],'==========================response')
          },
          error: function (xhr, errmsg, err) {
            // Handle the error
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });
    
    $('#sale_qty').keyup(function () {
      var present_qty = parseInt($('#qty').val());
      var pro_id = $('#product_id').val();
      var sale_qty = parseInt($(this).val());
      if (pro_id != '') {
        
        if(sale_qty > present_qty){
          $('#sale_qty').val(0)
          $('#span_qty').text(0)
          $('#totalPrice').val(0)
          alert('present qty should be less or equal');
          return false;
        }else{
          
          var sale_qty = Math.round($(this).val());
          var basePrice = $('#basePrice').val();
          var discount = $('#discountPrice').val();

          $('#span_price').text(basePrice)
          $('#span_qty').text(sale_qty);

          totalPrice = sale_qty * basePrice
          discount = totalPrice - discountPrice
          $('#totalPrice').val(totalPrice)

        }

        

      } else {

        alert('please first select product')
        $(this).val(0);
        return false;

      }

    })

    var totalPrice = $('#totalPrice').val();
    $('#discountPrice').keyup(function () {
      var pro_id = $('#product_id').val();
      if (pro_id != '') {
        var discount = $(this).val();
        var finalPrice = totalPrice - discount
        $('#totalPrice').val(finalPrice);
      } else {
        alert('please first select product')
        $(this).val(0);
        return false;
      }
    })

  </script>
</body>

</html>
